@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  color: white !important;
  font-weight: normal !important;
  transition: all 0.2s;
  text-decoration: none !important;
  border-bottom: none !important;
}
.nav-link:hover {
  color: white !important;
  font-weight: bold !important;
  transform: scale(1.1);
  text-decoration: none !important;
  border-bottom: none !important;
}

/* globals.css cleanup */
